@import '../../../sass/variables';
@import "../../../styles.scss";


.contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}


.contact-box {
  border: $border;
  width: 23.5%;
  height: auto;
  border-radius: $border-radius;
  padding: $padding-xs;
  text-align: center;
  word-wrap: break-word;
}

.contact-box:hover{
  border: 3px solid $primary;
  text-decoration: none;
}


.container-circle {
  margin: auto;
  height: 3rem;
  width: 3rem;
  padding: $padding-xs;
  border-radius: 50%;
  background-color: $secondary;
  img {
    height: 2rem;
  }
}

