

//Font Sizes
.main-text {
  color: $secondary;
  font-size: 3rem;
  margin: 0px;
}

.normal-text {
  color: $secondary;
  font-size: 1rem;
  margin: 0px;
}

.small-text {
  color: $secondary;
  font-size: 0.75rem;
  margin: 0px;
}
