<div class="carousel slide" data-ride= "carousel" id="MyCarousel">
            <!-- Carousel Indicators
              <ol class="carousel-indicators">
                <li class="active" data-target = "#MyCarousel" data-slide-to="0"></li>
                <li data-target= "#MyCarousel" data-slide-to="1"></li>
                <li data-target= "#MyCarousel" data-slide-to="2"></li>
                <li data-target= "#MyCarousel" data-slide-to="3"></li>
              </ol> -->

            <!-- Slides -->
              <div class="carousel-inner">
                 <div class="carousel-item {{about.active}} "  *ngFor= "let about of aboutInfo">
                    <div class="row">
                      <div class="col-md-6 text-center">
                      <img class="d-block carousel-image m-auto" src= "{{about.imgString}}" alt="{{about.categories}}">
                      </div>
                     <div class="col-md-6">
                         <div class="carousel-text">
                            <h3 class= "main-text mt-4 mt-md-0" style= "line-height: 2rem;">{{about.categories}}</h3>
                            <p class= "normal-text mt-4" style= "white-space: pre-line;">{{about.info}}</p>
                         </div>
                     </div>
                  </div>
                </div>
               </div>

               <div class="row" style= "margin-top: 7rem">
                <div class="col-12">
                  <ol class="carousel-indicators">
                    <li class="active" data-target = "#MyCarousel" data-slide-to="0">
                        <img  src = "./assets/images/pic1.jpg">
                    </li>
                    <li data-target= "#MyCarousel" data-slide-to="1">
                      <div class="container">
                        <img src = "./assets/images/pic2.jpg">
                        <p class="normal-text">Affliations</p>
                      </div>
                    </li>
                    <li data-target= "#MyCarousel" data-slide-to="2">
                      <img  src = "./assets/images/pic3.jpg">
                    </li>
                    <li data-target= "#MyCarousel" data-slide-to="3">
                      <img src = "./assets/images/pic4.jpg">
                    </li>
                  </ol>
                </div>
              </div>

              <!-- Carousel Controls -->
              <!-- <a class="carousel-control-prev" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#MyCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a> -->

</div>
