@import "./sass/variables";
/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap/scss/bootstrap";
@import "./sass/_fonts";
@import "./sass/base";



.my-container {
  min-height: 100px;
}

.fill {
  display: grid;
  min-height: calc(100vh - 142px);
  height: calc(100vh - 142px);

  @media (min-width: 1200px) {
    max-width: 1170px; ///Max Size of a container
    justify-content: center;
  }
}


.my-row {
  padding-top: 3rem;

  @media (max-width: 576px) {
    padding-top: 2rem;
   }

}

.my-row-center {
  justify-content: center;
  align-items: center;

  @media(max-width: 768px) {
    padding-top: 2rem;
    padding-bottom:2rem;
  }

}

.my-col {
  padding: 0;
}




// Image Sizes
.container-img {
   background-color: transparent;
}

.img-xl {
  height: 25rem;
}
.img-lg {
  height: 20rem;
}
.img-md {
  height: 17rem;
}

.img-xs {
  height: 2rem;
}



// Image Sizes
$image-xs : 3rem;
$image-sm : 5rem;
$image-md : 15rem;
$image-lg : 20rem;
$image-xl : 25rem;
$image-xxl : 45rem;

//Margin Sizes
$margin-xs : 0.5rem;
$margin-sm : 2rem;
$margin-md : 5rem;
$margin-lg : 7rem;
$margin-xl : 10rem;

//Padding Sizes
$padding-xs : 0.5rem;
$padding-sm : 2rem;
$padding-md : 5rem;
$padding-lg : 7rem;
$padding-xl : 10rem;

.jumbotron {
  background: $primary-light;
}
