<div class="container">
  <div class="row my-row justify-content-center">
    <div class="col-12 text-center">
      <div class="container-img" >
        <img src="./assets/images/resume.jpg" alt="resume " class="resume-template">
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-12 text-center">
      <a  href = "https://drive.google.com/file/d/1xOkBqZJFL-Egc_O47B0XvsuRsEd1kUAw/view"
          class="btn btn-primary"
          style ="color:white"
          role= "button"
          target="_blank"
          >
        Download
      </a>
    </div>
  </div>
</div>
