@import "../../../sass/variables";
@import "../../../styles.scss";

.resume-template {
  border : 1px solid $secondary;
  background-color: white;
  height: $image-xxl;

  @media (max-width: 768px) {
    height: $image-xl;
  }
}
